.data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    border: 1px solid #ddd;

    font-weight: bold;
    padding: 12px;
    text-align: left;
}

td {
    border: 1px solid #ddd;

}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}


.button-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    background-color: #007bff;
    font-size: 20px;
}